.info {
    padding: 6px 8px;
    font: 16px/18px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-print-color-adjust: exact;
}

.info h4 {
    margin: 0 0 5px;
    color: #555;
    text-align: center;
}

.legend {
    min-width: 170px;
    line-height: 24px;
    color: #333;
    background-color: #fff !important;
}

.legend i {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: solid 1px #111;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}
